*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
  width: 100%;
  height: 92px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  width: 139px;
}
.menu{
  display: flex;
  width: 365px;
  justify-content: space-between;
}
.menu li{
  list-style: none;
}
.menu li .menu-link{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.btn{
  padding: 13px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
}
.structured-thinking{
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  height: 674px;
  background-position: center;
  background-size: cover;
}
.structured-bg{
  padding: 115px 120px 180px  120px;
  text-align: center;
}
.thinking-title .early-access{
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  color: #469165;
  background-color: #FFFFFF;
  border-radius: 1000px;
  padding: 8px 12px;
}
.fa-regular{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.thinking-str , .taking-str{
  color: #FFFFFF;
  font-size: 72px;
  opacity: 90%;
}
.thinking-str{
  margin-top: 16px;
}
.taking-str{
  color: #30B868;
}
.structured-description{
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}
button.btn.works {
    background: transparent;
    border: 1px solid #FFFFFF;
    margin-left: 16px;
}
.notes-structure{
  width: 100%;
  text-align: center;
}
.notes-fail{
  padding: 44px 120px;
}
.notes{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.note-description{
  font-size: 16px;
  color: #627382;
}
.all-notes{
  display: flex;
  justify-content: space-between;
  width: 1360px;
  height: 300px;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}
.note-img{
  background-color: #F95555;
  padding: 32px;
  border-radius: 50%;
}
.scattered{
  font-size: 24px;
  color: #001931;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
}
.scattered-des{
  font-size: 16px;
  color: #627382;
  padding: 0 24px 0;
}